@import "@styles/vars.scss";
@import "@styles/mixins.scss";


/**************************************************
Necro Cult Zine Component


Component Name: 	Typography
Descriptionm:		Typography samples for Necro Cult Zine


**************************************************/

.CutOut{
	background-color: $white;
	color: $black;
	display: inline;
	letter-spacing: 1px;
	line-height: 1.45;
	padding: 3px 0;
	box-shadow: 
		10px 0 0 $white, 
		-10px 0 0 $white;
	position: relative;
	left: 10px;
}

.cut_out_alt{
	background-color: $black;
	color: $white;
	font-family: $font_display;
	display: inline-block;
	transform: rotate(3deg);
	font-size: 1.55em;
	padding: 2px 2px;
	margin: -6px 0 -3px;
	line-height: 1;
	position: relative;
	top: 2px;
}
