@import "@styles/vars.scss";
@import "@styles/mixins.scss";


/**************************************************
Necro Cult Zine Component


Component Name: 	Typography
Descriptionm:		Typography samples for Necro Cult Zine


**************************************************/

/***** ========== *****/
/***** TYPOGRAPHY *****/
/***** ========== *****/

.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;

	ul{
		background-color: $white;
		list-style: none;
		padding: 35px;
		
		li{
			margin-bottom: 35px;

			&.old_english{
				font-size: $font_size_heading;
			}
			&.labelmaker{
				font-size: $font_size_subhead;
			}
			&.typewriter{
				font-size: $font_size_body;
			}
		}
	}

}
